body {
    font-family: "Open-Sans",sans-serif;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72vh;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    padding: 10px 15px;
    display: flex;
}

.button-group {
    display: flex;
    gap: 20px;
}

button img {
    height: 20px;
}

.right-block img {
    height: 333px;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: -50px;
    padding-top: 40px;
}

li {
    list-style: none;
}

.hero-text {
    margin-top: -200px;
    margin-right: 400px;
}

.left-block img {
    height: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

.right-block img {
    height: 435px;
    margin-top: 70px;
}

.secblockbttm {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: -14px;
}

.secblockbttm p {
    text-align: center;
}

.second-block h3 {
     text-align: center;
     font-size: 25px;
}

.second-block {
    border: 2px solid black;
    width: 70%;
    margin-top: 20px;
    background-color:rgba(255, 255, 255, 1);
    margin-left: 80px;
}

.outer-box {
    background-color: rgba(255, 248, 243, 1);
    padding-top: 100px;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 300px;
    padding-bottom: 100px;
    padding-left: 100px;
}

.third-block {
    text-align: center;
}

.third-block p {
    text-align: justify;
    text-justify: inter-word;
    padding: 20px 100px;
}