body {
    font-family: "Open-Sans",sans-serif;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72vh;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    padding: 10px 15px;
    display: flex;
}

.button-group {
    display: flex;
    gap: 20px;
}

button img {
    height: 20px;
}

.right-block img {
    height: 333px;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: -50px;
    padding-top: 40px;
}

li {
    list-style: none;
}

.hero-text {
    margin-top: -200px;
    margin-right: 400px;
}

.left-block img {
    height: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

.right-block img {
    height: 435px;
    margin-top: 70px;
}