header {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

header h2{
    font-size: 40px;
    font-family: "Open-Sans",sans-serif;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding-right: 200px; /* Ajust as needed */
    font-size: 20px;
    font-family: "Open-Sans",sans-serif;
}

.upper {
    display: flex;
}

#devimg img {
    height: 65%;
    padding-left: 30px;
    padding-top: 20px;
    margin-right: 20px;
}

ul button {
    background-color: #FD6E0A;
    color: white;
    height: 35px;
    width: 90px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    margin-top: 24px;
}


body {
    font-family: "Open-Sans",sans-serif;
}

button img {
    height: 20px;

}

.hero {
    display: flex;
    justify-content: space-between;
}

.herotext {
    margin-right: 400px;
}

.herotext button {
    display: flex;
    justify-items: center;
    border-radius: 3px;
    font-size: 15px;
    padding: 10px;
}

.button-group {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.herotext p {
    color: rgba(0,0,0,0.7);
}

.heropic img {
    margin-right: 100px;
    margin-top: 16px;
}

.main-content {
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 72.7vh;
}